# Análise de datos con PANDAS

In [3]:
import pandas as pd

### Apertura do CSV

In [129]:

df = pd.DataFrame()
df= pd.read_csv('datos_covid2021_3paises.csv')
df

      Unnamed: 0         dia    pais  contaxios  mortes
0              0  2021-01-01   Spain      18047     148
1              1  2021-01-02   Spain          0       0
2              2  2021-01-03   Spain          0       0
3              3  2021-01-04   Spain      30579     241
4              4  2021-01-05   Spain      23700     352
...          ...         ...     ...        ...     ...
1090        1090  2021-12-27  France      29614     245
1091        1091  2021-12-28  France     179316     294
1092        1092  2021-12-29  France     202293     173
1093        1093  2021-12-30  France     206243     180
1094        1094  2021-12-31  France     232200     189

[1095 rows x 5 columns]


### Limpia valores nulos e/ou inválidos/vacíos.

In [130]:
df.isna().sum()
df.dropna()
df=df[df['contaxios']!=0]
df.describe()

        Unnamed: 0      contaxios       mortes
count   952.000000     952.000000   952.000000
mean    579.032563   13911.038866   112.340336
std     304.651907   23198.693500   163.028694
min       0.000000     158.000000     0.000000
25%     341.500000    1805.500000    11.000000
50%     587.500000    5614.500000    44.000000
75%     838.250000   19002.000000   147.250000
max    1094.000000  232200.000000  1163.000000

### 1. Calcula a media de novos casos ao día

In [141]:
df['contaxios'].mean()

13911.03886554622

### 2. Calcula a media de mortes ao día

In [142]:
df['mortes'].mean()

112.34033613445378

### 3. Calcula o número máximo de casos

In [143]:
df['contaxios'].max()

232200

### 4. Calcula o número medio de casos separado por grupos

In [144]:
dfcontaxios=df['contaxios'].groupby(df['pais']).mean()
dfcontaxios

pais
France      22486.976119
Portugal     2688.889503
Spain       18575.662745
Name: contaxios, dtype: float64

### 5. Existe unha correlación entre número de novos casos e mortes?

In [145]:
df[['contaxios','mortes']].corr()

           contaxios    mortes
contaxios   1.000000  0.353316
mortes      0.353316  1.000000

### 6. No caso de que exista unha relación, en que país é maior?

In [163]:
df3=df.groupby('pais')[['contaxios','mortes']].corr()
df2=df3[df3['contaxios']!=1].max()
df3=df3[df3['contaxios']==df2['contaxios']]
pd.DataFrame(df3['contaxios'])

                 contaxios
pais
Portugal mortes   0.562356

### 7. Cal é a mediana de casos confirmados en Portugal?

In [95]:
df[df['pais'] == 'Portugal']['contaxios'].median()

1190.0

### 8. Cales son os valores dos percentís Q1 e Q3 de Francia para o número de contaxios

In [96]:
q1=df[df['pais'] == 'France']['contaxios'].quantile(0.25)
q3=df[df['pais'] == 'France']['contaxios'].quantile(0.75)
print(f'Francia: Q1:{q1},Q3:{q3}')

Q1:5271.5,Q3:26261.0

### 9. Cantos valores diferentes hai para o número de contaxios nun día en cada un dos países

In [107]:
df.groupby(['pais', 'dia'])['contaxios'].nunique().groupby('pais').count()

pais
France      365
Portugal    365
Spain       365
Name: contaxios, dtype: int64

### 10. Valor mínimo e máximo de contaxios por día para cada país

In [105]:
df.groupby(['dia','pais'])['contaxios'].max()

dia         pais
2021-01-01  France       19143
            Portugal      6951
            Spain        18047
2021-01-02  France        3359
            Portugal      3241
                         ...
2021-12-30  Portugal     28659
            Spain       161688
2021-12-31  France      232200
            Portugal     30829
            Spain       161688
Name: contaxios, Length: 1095, dtype: int64

In [106]:
df.groupby(['dia','pais'])['contaxios'].min()

dia         pais
2021-01-01  France       19143
            Portugal      6951
            Spain        18047
2021-01-02  France        3359
            Portugal      3241
                         ...
2021-12-30  Portugal     28659
            Spain       161688
2021-12-31  France      232200
            Portugal     30829
            Spain       161688
Name: contaxios, Length: 1095, dtype: int64